<div class="sj-innerbanner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="sj-innerbannercontent">
          <h1>{{ languageData[langCode].DOCS_FORM }}</h1>
          <ol class="sj-breadcrumb">
            <li><a [routerLink]="['/']">{{ languageData[langCode].HOME_PAGE }}</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main -->
<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixSearchButton" class="pad-bot-10 pad-top-10">
          <input type="text" [(ngModel)]="valueSearch" nz-input class="search-input"
            [placeholder]="languageData[langCode].SEARCH" (keyup.enter)="onSearch()" />
        </nz-input-group>
        <ng-template #suffixSearchButton>
          <button nz-button nzType="primary" nzSize="large" type="button" nzSearch (click)="onSearch()"><i
              class="fas fa-search"></i></button>
        </ng-template>
        <br>
        <div class="sj-content sj-addarticleholdcontent no-shadow no-border">
          <div>
            <nz-table #table [nzData]="listVanBanBieuMau.data" [nzScroll]="{x: '300px'}" class="mr-bot-10">
              <thead>
                <tr>
                  <th nzWidth="75px">{{languageData[langCode].ORDINAL_NUMBERS}}</th>
                  <th nzWidth="300px">{{languageData[langCode].DOCS_FORM}}</th>
                  <th nzWidth="75px"><i class="fas fa-cog"></i></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </nz-table>
            <table-paginate [pageConfig]="listVanBanBieuMau" (pageChange)="pageChanged($any($event))">
            </table-paginate>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
