<aside id="sj-asidebar" class="sj-asidebar sj-widgetbox">
  <div class="sj-widgetprofile">
    <div class="sj-widgetcontent">
      <figure>
        <img class="avatar-size" [attr.src]="isLogin ? userAvatarLink : 'assets/img/logo/ute_logo_c.png'"
          onerror="this.src='assets/img/logo/ute_logo_c.png'">
      </figure>
      <div class="sj-admininfo">
        <h3>Racheal Maresca</h3>
        <h4>{{languageData[langCode].TOPIC_MANAGER}}</h4>
      </div>
    </div>
  </div>
  <div class="sj-widgetdashboard">
    <nav id="sj-dashboardnav" class="sj-dashboardnav">
      <ul class="no-padding">
        <li [ngClass]="activatedLink === 'my-topic' ? 'active-menu': ''">
          <a href="javascript:void(0)" [routerLink]="['/', 'work', 'my-topic']"><i class="fas fa-briefcase"></i>
            <span>{{languageData[langCode].MY_TOPIC}}<br></span></a></li>
        <li [ngClass]="activatedLink === 'my-progress' ? 'active-menu': ''">
          <a href="javascript:void(0)" [routerLink]="['/', 'work', 'my-progress']"><i class="fas fa-tasks"></i>
            <span>{{languageData[langCode].TOPIC_PERFORMING_PROGRESS}}</span></a></li>
        <li [ngClass]="activatedLink === 'inspection' ? 'active-menu': ''">
          <a href="javascript:void(0)" [routerLink]="['/', 'work', 'inspection']"><i class="fas fa-user-check"></i>
            <span>{{languageData[langCode].TOPIC_ACCEPTANCE}}</span></a></li>
        <li [ngClass]="activatedLink === 'research-results' ? 'active-menu': ''">
          <a href="javascript:void(0)" [routerLink]="['/', 'work', 'research-results']"><i class="fas fa-poll-h"></i>
            <span>{{languageData[langCode].RESEARCH_RESULTS}}</span></a></li>
        <li [ngClass]="activatedLink === 'my-file' ? 'active-menu': ''">
          <a href="javascript:void(0)" [routerLink]="['/', 'work', 'my-file']"><i class="fas fa-poll-h"></i>
            <span>{{languageData[langCode].MY_FILE}}</span></a></li>
        <li><a href="javascript:void(0)" [routerLink]="['/', 'work', 'review-the-topic']"><i class="fas fa-poll-h"></i>
            <span>{{languageData[langCode].REVIEW_THE_TOPIC}}</span></a></li>
      </ul>
    </nav>
  </div>
</aside>
