a {
  color: white;
}

.sj-innerbanner {
  background-color: #2BAE66FF !important;
}

h2 {
  text-align: center;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.center-btn {
  text-align: center;
}

.manageallsession {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.example {
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
