<app-breadcrumb [breadcrumb]="breadcrumbObj"></app-breadcrumb>
<div class="inner-content">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="row">
          <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left">
            <h4 class="text-semibold font-vi text-uppercase title-h4 text-left mr-top-5 mr-bot-5">
              {{breadcrumbObj.heading}}</h4>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
            <nz-input-group nzSearch [nzAddOnAfter]="searchIcon" class="search-box mr-top-5 mr-bot-5">
              <input type="text" nz-input [placeholder]="languageData[langCode].SEARCH" [(ngModel)]="searchValue"
                (keyup.enter)="onSearch()" />
              <ng-template #searchIcon>
                <button nz-button class="nz-btn-blue" nzSearch><i class="fas fa-search"></i></button>
              </ng-template>
            </nz-input-group>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body bord-top">
      <nz-table class="table-border table-cell-middle table-margin-bot" #table1 nzSize="small" nzBordered
        [nzData]="listHoiDongNghiemThu.data" [nzLoading]="lazyLoadingTable" [nzScroll]="{ x: '650px' }"
        nzShowPagination="false">
        <thead>
          <tr>
            <th nzAlign="center" nzWidth="75px"><b>{{languageData[langCode].ORDINAL_NUMBERS}}</b></th>
            <th nzAlign="center" nzWidth="125px"><b>{{languageData[langCode].TOPIC_CODE}}</b></th>
            <th nzAlign="center" nzWidth="150px"><b>{{languageData[langCode].TOPIC_NAME}}</b></th>
            <th nzAlign="center" nzWidth="125px"><b>{{languageData[langCode].TOPIC_AUTHOR}}</b></th>
            <th nzAlign="center" nzWidth="100px"><b>{{languageData[langCode].STATUS}}</b></th>
            <th nzAlign="center" nzWidth="75px"><i class="fas fa-cog"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listHoiDongNghiemThu.data; index as i">
            <td nzAlign="center"> {{ i + 1}} </td>
            <td nzAlign="center">{{ data.deTai.maSo }}</td>
            <td nzAlign="left">{{ langCode === 'vi' ? data.deTai.tenDeTai : data.deTai.tenDeTaiEn }}</td>
            <td nzAlign="center">{{ data.deTai.chuNhiemDeTai.hoTen }}</td>
            <td nzAlign="center">
              <ng-container *ngFor="let trangThaiHoiDong of listTrangThaiHoiDongTitle">
                <nz-tag class="white-space-status" *ngIf="data.trangThaiDuyetHoiDong === trangThaiHoiDong.id"
                  [nzColor]="'#5cb85c'">{{ trangThaiHoiDong.title }}</nz-tag>
              </ng-container>
            </td>
            <td nzAlign="center">
              <button *ngIf="!data.isShow" nz-button type="button"
                class="toolbar-right-btn nz-btn-green mr-left-5 mr-top-5 mr-bot-5"
                (click)="toggleShow(data, i)">{{languageData[langCode].VIEW}}
              </button>
              <button *ngIf="data.isShow" nz-button type="button"
                class="toolbar-right-btn nz-btn-green mr-left-5 mr-top-5 mr-bot-5"
                (click)="toggleHide(i)">{{languageData[langCode].HIDE}}
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <table-paginate [pageConfig]="listDeTai" (pageChange)="pageChanged($any($event))"></table-paginate>
    </div>
  </div>
  <hr>
  <div *ngIf="showSpin" class="example-spin">
    <nz-spin nzSimple [nzTip]="langCode === 'vi' ? 'Vui lòng chờ...' : 'Loading...'" [nzSize]="'large'"></nz-spin>
  </div>
  <nz-tabset *ngIf="isShow" [nzSelectedIndex]="currentTab" (nzSelectedIndexChange)="handleCurrentTab($any($event))">
    <nz-tab [nzTitle]="handleTileBanDiem()">
      <app-list-diem-thanh-vien-hoi-dong [modalDataHoiDong]="modalDataHoiDong" (returnData)="closeModal($any($event))">
        (returnCurrentTab)="handleCurrentTab($any($event))"</app-list-diem-thanh-vien-hoi-dong>
    </nz-tab>

    <nz-tab [nzTitle]="languageData[langCode].MINUTES">
      <app-form-bien-ban-hoi-dong [modalDataBienBan]="modalDataBienBan" [deTaiId]="deTaiId" (returnData)="closeModal($any($event))"
        (returnCurrentTab)="handleCurrentTab($any($event))"></app-form-bien-ban-hoi-dong>
    </nz-tab>

    <nz-tab [nzTitle]="languageData[langCode].EXPLANATION_EDIT">
      <app-form-giai-trinh-chinh-sua [modalDataBienBan]="modalDataBienBan" [deTaiId]="deTaiId" (returnData)="closeModal($any($event))"
        (returnCurrentTab)="handleCurrentTab($any($event))"></app-form-giai-trinh-chinh-sua>
    </nz-tab>
  </nz-tabset>
</div>
