<div class="row box-container">
  <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <img class="w-100 post-img" src="assets/img/bg/default-cover.jpg">
  </div>
  <div class="col-8 col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="post-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan neque maximus
      faucibus egestas. Nullam vel condimentum felis, ac tincidunt dolor. Aliquam erat volutpat. Vivamus eu lorem quis
      risus accumsan semper.</div>
    <div class="post-short-content hide-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan
      neque maximus faucibus egestas. Nullam vel condimentum felis, ac tincidunt dolor. Aliquam erat volutpat. Vivamus
      eu lorem quis risus accumsan semper. Donec ligula urna, volutpat ullamcorper risus ac, placerat fringilla dui.
      Nunc porta varius ultricies. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus. Proin neque enim, laoreet ac velit vel, pellentesque ultricies metus. Nunc mattis vulputate facilisis.
      Nulla sed euismod felis, sit amet rhoncus tortor. Nullam mattis elit eu quam ornare, vel pretium neque cursus.
      Vivamus mattis nec massa non maximus. Morbi fermentum iaculis dui non gravida. Nulla dictum id augue eget
      ornare. Praesent nec scelerisque nibh, nec aliquet nisl.</div>
    <div class="post-footer">
      <span class="float-left">18/08/2088</span>
      <span class="float-right cta-read hide-mobile">Read more<i class="fas fa-angle-right mr-left-5"></i></span>
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 show-mobile">
    <div class="post-short-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan neque
      maximus faucibus egestas. Nullam vel condimentum felis, ac tincidunt dolor. Aliquam erat volutpat. Vivamus eu
      lorem quis risus accumsan semper. Donec ligula urna, volutpat ullamcorper risus ac, placerat fringilla dui. Nunc
      porta varius ultricies. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Proin neque enim, laoreet ac velit vel, pellentesque ultricies metus. Nunc mattis vulputate facilisis. Nulla sed
      euismod felis, sit amet rhoncus tortor. Nullam mattis elit eu quam ornare, vel pretium neque cursus. Vivamus
      mattis nec massa non maximus. Morbi fermentum iaculis dui non gravida. Nulla dictum id augue eget ornare.
      Praesent nec scelerisque nibh, nec aliquet nisl.</div>
  </div>
</div>
<br>
