<!-- BIÊN BẢN KIỂM TRA TÌNH HÌNH THỰC HIỆN
ĐỀ TÀI CẤP TRƯỜNG TRỌNG ĐIỂM/DÀNH CHO GIẢNG VIÊN TRẺ/ DÀNH CHO NGHIÊN CỨU SINH, HỌC VIÊN CAO HỌC -->
<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
  <div nz-row class="pad-bot-form">
    <div nz-row class="pad-bot-form">
      <div nz-row>
        <div nz-col [nzSpan]="11" class="mar-top-form-label">
          <label><b>01. {{languageData[langCode].TOPIC_NAME_VN}}</b></label><label class="field-required">*</label>
        </div>
        <div nz-col [nzSpan]="2" class="mar-top-form-label">
        </div>
        <div nz-col [nzSpan]="11" class="mar-top-form-label">
          <label><b>01. {{languageData[langCode].TOPIC_NAME_EN}}</b></label><label class="field-required">*</label>
        </div>
      </div>
      <div nz-row class="pad-bot-form">
        <div nz-col [nzSpan]="11">
          <div nz-row [ngClass]="displayFieldCss('tenDeTai')">
            <input nz-input formControlName="tenDeTai">
            <app-field-error-display [displayError]="isFieldValid('tenDeTai')"
              [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
            </app-field-error-display>
          </div>
        </div>
        <div nz-col [nzSpan]="2">
        </div>
        <div nz-col [nzSpan]="11">
          <div nz-row [ngClass]="displayFieldCss('tenDeTaiEn')">
            <input nz-input formControlName="tenDeTaiEn">
            <app-field-error-display [displayError]="isFieldValid('tenDeTaiEn')"
              [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
            </app-field-error-display>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>02. {{languageData[langCode].TOPIC_CODE}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('maSoDeTai')">
      <input nz-input formControlName="maSoDeTai">
      <app-field-error-display [displayError]="isFieldValid('maSoDeTai')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>03. {{languageData[langCode].PERFORMING_TIME}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('thoiGianThucHien')">
      <input nz-input formControlName="thoiGianThucHien">
      <app-field-error-display [displayError]="isFieldValid('thoiGianThucHien')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>04. {{languageData[langCode].TOTAL_FUNDING}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('tongKinhPhi')">
      <input nz-input formControlName="tongKinhPhi">
      <app-field-error-display [displayError]="isFieldValid('tongKinhPhi')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>05. {{languageData[langCode].TOPIC_MANAGER}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('chuNhiemDeTai')">
      <input nz-input formControlName="chuNhiemDeTai">
      <app-field-error-display [displayError]="isFieldValid('chuNhiemDeTai')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row class="pad-bot-form">
      <div nz-row>
        <div nz-col [nzSpan]="11" class="mar-top-form-label">
          <label><b>06. {{languageData[langCode].FULL_NAME_INSPECTION_TEAM_VN}}</b></label><label
            class="field-required">*</label>
        </div>
        <div nz-col [nzSpan]="2" class="mar-top-form-label">
        </div>
        <div nz-col [nzSpan]="11" class="mar-top-form-label">
          <label><b>06. {{languageData[langCode].FULL_NAME_INSPECTION_TEAM_EN}}</b></label><label
            class="field-required">*</label>
        </div>
      </div>
      <div nz-row class="pad-bot-form">
        <div nz-col [nzSpan]="11">
          <div nz-row [ngClass]="displayFieldCss('hoTenChucTrachDoanKiemTra')">
            <input nz-input formControlName="hoTenChucTrachDoanKiemTra">
            <app-field-error-display [displayError]="isFieldValid('hoTenChucTrachDoanKiemTra')"
              [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
            </app-field-error-display>
          </div>
        </div>
        <div nz-col [nzSpan]="2">
        </div>
        <div nz-col [nzSpan]="11">
          <div nz-row [ngClass]="displayFieldCss('hoTenChucTrachDoanKiemTraEn')">
            <input nz-input formControlName="hoTenChucTrachDoanKiemTraEn">
            <app-field-error-display [displayError]="isFieldValid('hoTenChucTrachDoanKiemTraEn')"
              [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
            </app-field-error-display>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row class="pad-bot-form">
      <div nz-row>
        <div nz-col [nzSpan]="11" class="mar-top-form-label">
          <label><b>07. {{languageData[langCode].CONTENT_OF_RESEARCH_DONE_VN}}</b></label><label
            class="field-required">*</label>
        </div>
        <div nz-col [nzSpan]="2" class="mar-top-form-label">
        </div>
        <div nz-col [nzSpan]="11" class="mar-top-form-label">
          <label><b>07. {{languageData[langCode].CONTENT_OF_RESEARCH_DONE_EN}}</b></label><label
            class="field-required">*</label>
        </div>
      </div>
      <div nz-row class="pad-bot-form">
        <div nz-col [nzSpan]="11">
          <div nz-row [ngClass]="displayFieldCss('noiDungNghienCuu')">
            <textarea nz-input formControlName="noiDungNghienCuu"></textarea>
            <app-field-error-display [displayError]="isFieldValid('noiDungNghienCuu')"
              [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
            </app-field-error-display>
          </div>
        </div>
        <div nz-col [nzSpan]="2">
        </div>
        <div nz-col [nzSpan]="11">
          <div nz-row [ngClass]="displayFieldCss('noiDungNghienCuuEn')">
            <textarea nz-input formControlName="noiDungNghienCuuEn"></textarea>
            <app-field-error-display [displayError]="isFieldValid('noiDungNghienCuuEn')"
              [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
            </app-field-error-display>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row class="pad-bot-form">
      <div nz-row>
        <div nz-col [nzSpan]="11" class="mar-top-form-label">
          <label><b>08. {{languageData[langCode].RESEARCH_RESULTS_ACHIEVED_VN}}</b></label><label
            class="field-required">*</label>
        </div>
        <div nz-col [nzSpan]="2" class="mar-top-form-label">
        </div>
        <div nz-col [nzSpan]="11" class="mar-top-form-label">
          <label><b>08. {{languageData[langCode].RESEARCH_RESULTS_ACHIEVED_EN}}</b></label><label
            class="field-required">*</label>
        </div>
      </div>
      <div nz-row class="pad-bot-form">
        <div nz-col [nzSpan]="11">
          <div nz-row [ngClass]="displayFieldCss('ketQuaNghienCuu')">
            <textarea nz-input formControlName="ketQuaNghienCuu"></textarea>
            <app-field-error-display [displayError]="isFieldValid('ketQuaNghienCuu')"
              [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
            </app-field-error-display>
          </div>
        </div>
        <div nz-col [nzSpan]="2">
        </div>
        <div nz-col [nzSpan]="11">
          <div nz-row [ngClass]="displayFieldCss('ketQuaNghienCuuEn')">
            <textarea nz-input formControlName="ketQuaNghienCuuEn"></textarea>
            <app-field-error-display [displayError]="isFieldValid('ketQuaNghienCuuEn')"
              [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
            </app-field-error-display>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row class="pad-bot-form">
      <div nz-row>
        <div nz-col [nzSpan]="11" class="mar-top-form-label">
          <label><b>9. {{languageData[langCode].PRODUCT_ACHIEVED_VN}}</b></label><label class="field-required">*</label>
        </div>
        <div nz-col [nzSpan]="2" class="mar-top-form-label">
        </div>
        <div nz-col [nzSpan]="11" class="mar-top-form-label">
          <label><b>9. {{languageData[langCode].PRODUCT_ACHIEVED_EN}}</b></label><label class="field-required">*</label>
        </div>
      </div>
      <div nz-row class="pad-bot-form">
        <div nz-col [nzSpan]="11">
          <div nz-row [ngClass]="displayFieldCss('cacSanPham')">
            <textarea nz-input formControlName="cacSanPham"></textarea>
            <app-field-error-display [displayError]="isFieldValid('cacSanPham')"
              [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
            </app-field-error-display>
          </div>
        </div>
        <div nz-col [nzSpan]="2">
        </div>
        <div nz-col [nzSpan]="11">
          <div nz-row [ngClass]="displayFieldCss('cacSanPhamEn')">
            <textarea nz-input formControlName="cacSanPhamEn"></textarea>
            <app-field-error-display [displayError]="isFieldValid('cacSanPhamEn')"
              [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
            </app-field-error-display>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>10. {{languageData[langCode].USE_OF_FUNDS}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('suDungKinhPhi')">
      <input nz-input formControlName="suDungKinhPhi" nz-input>
      <app-field-error-display [displayError]="isFieldValid('suDungKinhPhi')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row class="pad-bot-form">
      <div nz-row>
        <div nz-col [nzSpan]="11" class="mar-top-form-label">
          <label><b>11. {{languageData[langCode].RECOMMENDATIONS_SUBJECT_MANAGER_VN}}</b></label><label
            class="field-required">*</label>
        </div>
        <div nz-col [nzSpan]="2" class="mar-top-form-label">
        </div>
        <div nz-col [nzSpan]="11" class="mar-top-form-label">
          <label><b>11. {{languageData[langCode].RECOMMENDATIONS_SUBJECT_MANAGER_EN}}</b></label><label
            class="field-required">*</label>
        </div>
      </div>
      <div nz-row class="pad-bot-form">
        <div nz-col [nzSpan]="11">
          <div nz-row [ngClass]="displayFieldCss('kienNghiCuaChuNhiemDeTaiVaCoQuanChuTri')">
            <textarea formControlName="kienNghiCuaChuNhiemDeTaiVaCoQuanChuTri" nz-input></textarea>
            <app-field-error-display [displayError]="isFieldValid('kienNghiCuaChuNhiemDeTaiVaCoQuanChuTri')"
              [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
            </app-field-error-display>
          </div>
        </div>
        <div nz-col [nzSpan]="2">
        </div>
        <div nz-col [nzSpan]="11">
          <div nz-row [ngClass]="displayFieldCss('kienNghiCuaChuNhiemDeTaiVaCoQuanChuTriEn')">
            <textarea formControlName="kienNghiCuaChuNhiemDeTaiVaCoQuanChuTriEn" nz-input></textarea>
            <app-field-error-display [displayError]="isFieldValid('kienNghiCuaChuNhiemDeTaiVaCoQuanChuTriEn')"
              [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
            </app-field-error-display>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row class="pad-bot-form">
      <div nz-row>
        <div nz-col [nzSpan]="11" class="mar-top-form-label">
          <label><b>12. {{languageData[langCode].GENERAL_ASSESSMENT_IMPLEMENTATION_VN}}</b></label><label
            class="field-required">*</label>
        </div>
        <div nz-col [nzSpan]="2" class="mar-top-form-label">
        </div>
        <div nz-col [nzSpan]="11" class="mar-top-form-label">
          <label><b>12. {{languageData[langCode].GENERAL_ASSESSMENT_IMPLEMENTATION_EN}}</b></label><label
            class="field-required">*</label>
        </div>
      </div>
      <div nz-row class="pad-bot-form">
        <div nz-col [nzSpan]="11">
          <div nz-row [ngClass]="displayFieldCss('danhGiaTinhHinhThucHien')">
            <textarea formControlName="danhGiaTinhHinhThucHien" nz-input></textarea>
            <app-field-error-display [displayError]="isFieldValid('danhGiaTinhHinhThucHien')"
              [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
            </app-field-error-display>
          </div>
        </div>
        <div nz-col [nzSpan]="2">
        </div>
        <div nz-col [nzSpan]="11">
          <div nz-row [ngClass]="displayFieldCss('danhGiaTinhHinhThucHienEn')">
            <textarea formControlName="danhGiaTinhHinhThucHienEn" nz-input></textarea>
            <app-field-error-display [displayError]="isFieldValid('danhGiaTinhHinhThucHienEn')"
              [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
            </app-field-error-display>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row class="pad-bot-form">
      <div nz-row>
        <div nz-col [nzSpan]="11" class="mar-top-form-label">
          <label><b>13. {{languageData[langCode].CONCLUSION_INSPECTION_VN}}</b></label><label
            class="field-required">*</label>
        </div>
        <div nz-col [nzSpan]="2" class="mar-top-form-label">
        </div>
        <div nz-col [nzSpan]="11" class="mar-top-form-label">
          <label><b>13. {{languageData[langCode].CONCLUSION_INSPECTION_EN}}</b></label><label
            class="field-required">*</label>
        </div>
      </div>
      <div nz-row class="pad-bot-form">
        <div nz-col [nzSpan]="11">
          <div nz-row [ngClass]="displayFieldCss('ketLuanCuaDoanKiemTra')">
            <textarea formControlName="ketLuanCuaDoanKiemTra" nz-input></textarea>
            <app-field-error-display [displayError]="isFieldValid('ketLuanCuaDoanKiemTra')"
              [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
            </app-field-error-display>
          </div>
        </div>
        <div nz-col [nzSpan]="2">
        </div>
        <div nz-col [nzSpan]="11">
          <div nz-row [ngClass]="displayFieldCss('ketLuanCuaDoanKiemTraEn')">
            <textarea formControlName="ketLuanCuaDoanKiemTraEn" nz-input></textarea>
            <app-field-error-display [displayError]="isFieldValid('ketLuanCuaDoanKiemTraEn')"
              [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
            </app-field-error-display>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div nz-row class="ant-modal-footer fk-modal-footer">
    <div nz-col nzSpan="24" class="ali-right">
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="danger" nzSize="default" type="button" (click)="onCancel()"><i
            class="fas fa-times mr-right-5"></i>{{languageData[langCode].CANCEL}}</button>
      </div>
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="default" class="nz-btn-blue" nzSize="default" type="submit" (click)="onSubmit()"><i
            class="fas fa-save mr-right-5"></i>{{languageData[langCode].SAVE}}</button>
      </div>
    </div>
  </div>

</form>
