<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
  <div nz-row class="pad-bot-form">
    <div nz-row>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>01. {{languageData[langCode].TOPIC_NAME_VN}}</b></label><label class="field-required">*</label>
      </div>
      <div nz-col [nzSpan]="2" class="mar-top-form-label">
      </div>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>01. {{languageData[langCode].TOPIC_NAME_EN}}</b></label><label class="field-required">*</label>
      </div>
    </div>
    <div nz-row class="pad-bot-form">
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('tenDeTai')">
          <input nz-input formControlName="tenDeTai">
          <app-field-error-display [displayError]="isFieldValid('tenDeTai')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
      <div nz-col [nzSpan]="2">
      </div>
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('tenDeTaiEn')">
          <input nz-input formControlName="tenDeTaiEn">
          <app-field-error-display [displayError]="isFieldValid('tenDeTaiEn')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>02. {{languageData[langCode].TOPIC_CODE}}</b></label><label class="field-required">*</label>
      </div>
      <div nz-col [nzSpan]="2" class="mar-top-form-label">
      </div>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>03. {{languageData[langCode].TOPIC_MANAGER}}</b></label><label class="field-required">*</label>
      </div>
    </div>
    <div nz-row class="pad-bot-form">
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('maSoDeTai')">
          <input nz-input formControlName="maSoDeTai">
          <app-field-error-display [displayError]="isFieldValid('maSoDeTai')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
      <div nz-col [nzSpan]="2">
      </div>
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('chuNhiemDeTai')">
          <input nz-input formControlName="chuNhiemDeTai">
          <app-field-error-display [displayError]="isFieldValid('chuNhiemDeTai')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>04. {{languageData[langCode].WORKPLACE_VN}}</b></label><label class="field-required">*</label>
      </div>
      <div nz-col [nzSpan]="2" class="mar-top-form-label">
      </div>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>04. {{languageData[langCode].WORKPLACE_EN}}</b></label><label class="field-required">*</label>
      </div>
    </div>
    <div nz-row class="pad-bot-form">
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('donViCongTac')">
          <input nz-input formControlName="donViCongTac">
          <app-field-error-display [displayError]="isFieldValid('donViCongTac')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
      <div nz-col [nzSpan]="2">
      </div>
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('donViCongTacEn')">
          <input nz-input formControlName="donViCongTacEn">
          <app-field-error-display [displayError]="isFieldValid('donViCongTacEn')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-col class="mar-top-form-label">
      <label><b>05. {{languageData[langCode].EXPLANATION_EDIT_TOPIC}}</b></label><label class="field-required">*</label>
    </div>
    <nz-table #table1 nzBordered [nzFooter]="null" [nzData]="listGiaiTrinhChinhSua">
      <thead>
        <tr>
          <th nzAlign="center">{{languageData[langCode].ORDINAL_NUMBERS}}</th>
          <th nzAlign="center">{{languageData[langCode].CONTENT_COMMEMT_COUNCIL}}<sup>(1)</sup></th>
          <th nzAlign="center">{{languageData[langCode].EDIT_RESULTS}}<sup>(2)</sup></th>
          <th nzAlign="center">{{languageData[langCode].NOTE}}<sup>(3)</sup></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listGiaiTrinhChinhSua; let i = index">
          <td nzAlign="center">{{ i+1 }}</td>
          <td nzAlign="center">{{ data.noiDungGopY }}</td>
          <td nzAlign="center">{{ data.ketQuaChinhSuaBoSung }}</td>
          <td nzAlign="center">{{ data.ghiChu }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div nz-row>
    <b>{{languageData[langCode].NOTE}}:</b>
    <ul>
      <li>(1): {{languageData[langCode].SUMMARY_CONTENTS_OF_COUNCIL}}</li>
      <li>(2): {{languageData[langCode].SPECIFILES_CONTENT_PAGE_EDIT}}</li>
      <li>(3): {{languageData[langCode].CONTENT_NON_EDIT_OPINION_COUNCIL}}</li>
    </ul>
  </div>

  <div nz-row class="ant-modal-footer fk-modal-footer">
    <div nz-col nzSpan="24" class="ali-right">
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="danger" nzSize="default" type="button" (click)="onCancel()"><i
            class="fas fa-times mr-right-5"></i>{{languageData[langCode].CANCEL}}</button>
      </div>
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="default" class="nz-btn-blue" nzSize="default" type="submit" (click)="onSubmit()"><i
            class="fas fa-save mr-right-5"></i>{{languageData[langCode].SAVE}}</button>
      </div>
    </div>
  </div>
</form>
