.text-blue {
  color: #007bff;
}

.text-primary {
  color: #2e3090;
}

.text-orange {
  color: #ff5722;
}

.text-red {
  color: #F44336;
}

.text-white {
  color: white;
}

.text-green {
  color: #38CE2F;
}

.text-danger {
  color: red;
}
