.mr-right-10 {
  margin-right: 10px;
}
.mr-right-5 {
  margin-right: 5px;
}
.mr-right--10 {
  margin-right: -10px;
}
.mr-top-10 {
  margin-top: 10px;
}
.mr-top-5 {
  margin-top: 5px;
}
.mr-left-5 {
  margin-left: 5px;
}
.mr-left-10 {
  margin-left: 10px;
}
.mr-left-15 {
  margin-left: 15px;
}
.mr-left--10{
  margin-left: -10px;
}
.mr-top-15 {
  margin-top: 15px;
}
.mr-bot-5 {
  margin-bottom: 5px;
}
.mr-bot-10 {
  margin-bottom: 10px;
}
