<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>01. {{languageData[langCode].FULL_NAME_MANAGER}}</b></label><label class="field-required">*</label>
      </div>
      <div nz-col [nzSpan]="2" class="mar-top-form-label">
      </div>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>02. {{languageData[langCode].STAFF_NUMBER}}</b></label><label class="field-required">*</label>
      </div>
    </div>
    <div nz-row class="pad-bot-form">
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('hoTenChuNhiemDeTai')">
          <input nz-input formControlName="hoTenChuNhiemDeTai">
          <app-field-error-display [displayError]="isFieldValid('hoTenChuNhiemDeTai')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
      <div nz-col [nzSpan]="2">
      </div>
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('maSoChuNhiemDeTai')">
          <input nz-input formControlName="maSoChuNhiemDeTai">
          <app-field-error-display [displayError]="isFieldValid('maSoChuNhiemDeTai')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>03. {{languageData[langCode].FULL_NAME_MEMBERS}}</b></label><label class="field-required">*</label>
      </div>
      <div nz-col [nzSpan]="2" class="mar-top-form-label">
      </div>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>04. {{languageData[langCode].STAFF_NUMBER}}</b></label><label class="field-required">*</label>
      </div>
    </div>
    <div nz-row class="pad-bot-form">
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('hoTenThanhVienDeTai')">
          <input nz-input formControlName="hoTenThanhVienDeTai">
          <app-field-error-display [displayError]="isFieldValid('hoTenThanhVienDeTai')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
      <div nz-col [nzSpan]="2">
      </div>
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('maSoThanhVienDeTai')">
          <input nz-input formControlName="maSoThanhVienDeTai">
          <app-field-error-display [displayError]="isFieldValid('maSoThanhVienDeTai')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>05. {{languageData[langCode].WORKPLACE_VN}}</b></label><label class="field-required">*</label>
      </div>
      <div nz-col [nzSpan]="2" class="mar-top-form-label">
      </div>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>05. {{languageData[langCode].WORKPLACE_EN}}</b></label><label class="field-required">*</label>
      </div>
    </div>
    <div nz-row class="pad-bot-form">
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('donViCongTac')">
          <input nz-input formControlName="donViCongTac">
          <app-field-error-display [displayError]="isFieldValid('donViCongTac')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
      <div nz-col [nzSpan]="2">
      </div>
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('donViCongTacEn')">
          <input nz-input formControlName="donViCongTacEn">
          <app-field-error-display [displayError]="isFieldValid('donViCongTacEn')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>06. {{languageData[langCode].TOPIC_NAME_VN}}</b></label><label class="field-required">*</label>
      </div>
      <div nz-col [nzSpan]="2" class="mar-top-form-label">
      </div>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>06. {{languageData[langCode].TOPIC_NAME_EN}}</b></label><label class="field-required">*</label>
      </div>
    </div>
    <div nz-row class="pad-bot-form">
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('tenDeTai')">
          <input nz-input formControlName="tenDeTai">
          <app-field-error-display [displayError]="isFieldValid('tenDeTai')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
      <div nz-col [nzSpan]="2">
      </div>
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('tenDeTaiEn')">
          <input nz-input formControlName="tenDeTaiEn">
          <app-field-error-display [displayError]="isFieldValid('tenDeTaiEn')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>07. {{languageData[langCode].TOPIC_CODE}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('maSoDeTai')">
      <input nz-input formControlName="maSoDeTai">
      <app-field-error-display [displayError]="isFieldValid('maSoDeTai')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>


  <div nz-row class="pad-bot-form">
    <div nz-col class="mar-top-form-label">
      <label>08. {{languageData[langCode].TIME_START_END_TOPIC}}</label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('thoiGianThucHien')">
      <input nz-input formControlName="thoiGianThucHien">
      <app-field-error-display [displayError]="isFieldValid('thoiGianThucHien')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>09. {{languageData[langCode].REASON_CANCEL_TOPIC_VN}}</b></label><label
          class="field-required">*</label>
      </div>
      <div nz-col [nzSpan]="2" class="mar-top-form-label">
      </div>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>09. {{languageData[langCode].REASON_CANCEL_TOPIC_EN}}</b></label><label
          class="field-required">*</label>
      </div>
    </div>
    <div nz-row class="pad-bot-form">
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('lyDoHuyDeTai')">
          <input nz-input formControlName="lyDoHuyDeTai">
          <app-field-error-display [displayError]="isFieldValid('lyDoHuyDeTai')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
      <div nz-col [nzSpan]="2">
      </div>
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('lyDoHuyDeTaiEn')">
          <input nz-input formControlName="lyDoHuyDeTaiEn">
          <app-field-error-display [displayError]="isFieldValid('lyDoHuyDeTaiEn')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>10. {{languageData[langCode].TOTAL_COST_IN_CONTRACT}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('tongKinhPhiTheoHopDong')">
      <input nz-input formControlName="tongKinhPhiTheoHopDong">
      <app-field-error-display [displayError]="isFieldValid('tongKinhPhiTheoHopDong')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>{{languageData[langCode].FUNDING_HAS_BEEN_ADVANCED}}</b></label><label
          class="field-required">*</label>
      </div>
      <div nz-col [nzSpan]="2" class="mar-top-form-label">
      </div>
      <div nz-col [nzSpan]="11" class="mar-top-form-label">
        <label><b>12. {{languageData[langCode].TIME_ADVANCE}}</b></label><label class="field-required">*</label>
      </div>
    </div>
    <div nz-row class="pad-bot-form">
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('soTienTamUng')">
          <input nz-input formControlName="soTienTamUng">
          <app-field-error-display [displayError]="isFieldValid('soTienTamUng')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
      <div nz-col [nzSpan]="2">
      </div>
      <div nz-col [nzSpan]="11">
        <div nz-row [ngClass]="displayFieldCss('ngayTamUng')">
          <input nz-input formControlName="ngayTamUng">
          <app-field-error-display [displayError]="isFieldValid('ngayTamUng')"
            [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
          </app-field-error-display>
        </div>
      </div>
    </div>
  </div>

  <div nz-row class="ant-modal-footer fk-modal-footer">
    <div nz-col nzSpan="24" class="ali-right">
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="default" class="nz-btn-blue" nzSize="default" type="button"><i
            class="fas fa-check-circle mr-right-5" nz-popconfirm
            nzPopconfirmTitle="Xác nhận duyệt huỷ đề tài? Thao tác này không thể khôi phục!"
            (nzOnConfirm)="onAdminDuyetYeuCauHuyDeTai()" nzPopconfirmPlacement="topRight" nzOkText="Đồng ý"
            nzOkType="danger"></i>Duyệt</button>
      </div>

      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="default" class="nz-btn-blue" nzSize="default" type="button"
          (click)="onAdminTuChoiHuy(khongDongY)"><i class="fas fa-exclamation-circle  mr-right-5"></i>Không đồng
          ý</button>
      </div>

      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="danger" nzSize="default" type="button" (click)="onCancel()"><i
            class="fas fa-times mr-right-5"></i>Đóng</button>
      </div>
    </div>
  </div>
</form>

<ng-template #khongDongY>
  <form [formGroup]="formKhongDongYHuy">
    <div class="form-group">
      <label><span>Lý do không đồng ý huỷ đề tài</span> <span class="text-danger">*</span>
      </label>
      <!-- <ckeditor [config]="classicCkEditor" formControlName="noiDungTuChoi"></ckeditor> -->
      <input nz-input formControlName="noiDungTuChoi">
    </div>
  </form>
</ng-template>
