<footer id="sj-footer" class="sj-footer sj-haslayout">
  <div class="container">
    <div class="row">
      <a class="sj-btnscrolltotop" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>
      <div class="sj-footercolumns">

        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
          <div class="sj-fcol sj-footeraboutus">
            <div class="row">
              <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <img src="assets/img/logo/ute_logo.png" class="logo-bottom">
              </div>
              <div class="col-9 col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                <strong class="sj-logo">
                  <div class="sj-description logo-bottom-txt">
                    <span>{{ languageData[langCode].INFO_UNIVERSITY1 }}<br>{{ languageData[langCode].INFO_UNIVERSITY2 }}<br>{{ languageData[langCode].SCIENCE_TECHNOLOGY_DEPARTMENT }}</span>
                  </div>
                </strong>
              </div>
            </div>
            <!-- <ul class="sj-socialicons sj-socialiconssimple">
              <li class="sj-twitter"><a href="javascript:void(0);"><i class="fas fa-globe"></i></a></li>
              <li class="sj-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
            </ul> -->
            <br>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
          <div class="sj-fcol sj-widget sj-widgetcontactus">
            <div class="sj-widgetheading">
              <h3>{{ languageData[langCode].CONTACT_US }}</h3>
            </div>
            <div class="sj-widgetcontent">
              <ul>
                <li><i class="fas fa-map-marked-alt"></i>
                  <address>{{ languageData[langCode].CONTACT_ROOM }},<br>
                    {{ languageData[langCode].ADDRESS1 }}, {{ languageData[langCode].ADDRESS2 }}</address>
                </li>
                <li><a href="tel:(+84)2838961141"><i class="fas fa-phone"></i><span>(+84) 28 3896 1141</span></a></li>
                <li><a href="mailto:iro@hcmute.edu.vn"><i class="fas fa-envelope"></i><span
                      class="email-txt">iro@hcmute.edu.vn</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="sj-footerbottom">
        <p class="sj-copyrights">© {{ nowYear }} <span>HCMUTE</span>. {{ languageData[langCode].DESIGN_BY_COST }}.</p>
      </div>
    </div>
  </div>
</footer>
