.placeholder-text-align {
  text-align: center;
}
.shadow-box {
  box-shadow: none !important;
}

.white-space-status {
  white-space: normal !important;
}

a {
  color: white;
}

.sj-innerbanner {
  background-color: #2bae66ff !important;
}

h2 {
  text-align: center;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
