<app-breadcrumb [breadcrumb]="breadcrumbObj"></app-breadcrumb>
<div class="inner-content">
  <nz-tabset>
    <nz-tab [nzTitle]="languageData[langCode].ACCEPTANCE_COUNCILS">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left">
                <h4 class="text-semibold font-vi text-uppercase title-h4 text-left mr-top-5 mr-bot-5">
                  {{languageData[langCode].ACCEPTANCE_COUNCILS}}</h4>
              </div>
              <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                <nz-input-group nzSearch [nzAddOnAfter]="searchIcon" class="search-box mr-top-5 mr-bot-5">
                  <input type="text" nz-input [placeholder]="languageData[langCode].SEARCH" [(ngModel)]="searchValue"
                    (keyup.enter)="onSearch()" />
                  <ng-template #searchIcon>
                    <button nz-button class="nz-btn-blue" nzSearch><i class="fas fa-search"></i></button>
                  </ng-template>
                </nz-input-group>
                <button nz-button type="button" class="toolbar-right-btn nz-btn-blue mr-left-5 mr-top-5 mr-bot-5"
                  (click)="modalCreate(true, formHoiDong, 800)">
                  <i class="fas fa-retweet mr-right-5"></i> {{languageData[langCode].GENERATE}}</button>
                <button nz-button type="button" class="toolbar-right-btn nz-btn-green mr-left-5 mr-top-5 mr-bot-5"
                  (click)="modalCreate(false, formHoiDong, 800)">
                  <i class="fas fa-plus mr-right-5"></i> {{languageData[langCode].ADD_NEW}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body bord-top">
          <nz-table class="table-margin-bot" #table1 nzSize="small" nzBordered [nzData]="listHoiDong.data"
            [nzLoading]="loadingTable" [nzScroll]="{ x: '475px' }" nzShowPagination="false">
            <thead>
              <tr>
                <th nzAlign="center" nzWidth="75px"><b>{{languageData[langCode].ORDINAL_NUMBERS}}</b></th>
                <th nzAlign="center" nzWidth="150px"><b>{{languageData[langCode].COUNCIL_NAME}}</b></th>
                <th nzAlign="center" nzWidth="100px"><b>{{languageData[langCode].COUNCIL_CERT_NUM}}</b></th>
                <th nzAlign="center" nzWidth="75px"><b>{{languageData[langCode].COUNCIL_MENBERS}}</b></th>
                <!-- <th nzAlign="center" nzWidth="100px"><b>{{languageData[langCode].STATUS}}</b></th> -->
                <th nzAlign="center" nzWidth="75px"><i class="fas fa-cog"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of listHoiDong.data; index as i">
                <td nzAlign="center">{{ (i+(listHoiDong.currentPage-1)*listHoiDong.limit+1) }}</td>
                <td nzAlign="left">{{ data.tenHoiDong }}</td>
                <td nzAlign="center">{{ data.soQuyetDinh }}</td>
                <td nzAlign="center">
                  <button nz-button type="button" nzType="primary" (click)="viewDanhSachThanhVienHoiDong(formXemThanhVienHoiDong, data.thanhVienHoiDongs)">{{languageData[langCode].VIEW}}</button>
                </td>
                <!-- <td nzAlign="center">
                  <nz-tag *ngIf="!data.trangThai" [nzColor]="'#ff4d4f'">{{languageData[langCode].DEACTIVE}}</nz-tag>
                  <nz-tag *ngIf="data.trangThai" [nzColor]="'#5cb85c'">{{languageData[langCode].ACTIVE}}</nz-tag>
                </td> -->
                <td nzAlign="center">
                  <nz-tag nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomCenter" class="pointer"><i
                      class="fas fa-ellipsis-h"></i></nz-tag>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                      <li nz-menu-item (click)="modalEdit(formHoiDong, data, 800)">
                        <i class="fas fa-edit mr-right-5"></i>
                        <span>{{languageData[langCode].EDIT}}</span>
                      </li>
                      <li nz-menu-item (click)="modalDelete(data.id)">
                        <i class="fas fa-trash mr-right-5"></i>
                        <span>{{languageData[langCode].DELETE}}</span>
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <table-paginate [pageConfig]="listHoiDong" (pageChange)="pageChanged($event)"></table-paginate>
        </div>
      </div>
    </nz-tab>
    <nz-tab [nzTitle]="languageData[langCode].COUNCIL_TOPICS">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left">
                <h4 class="text-semibold font-vi text-uppercase title-h4 text-left mr-top-5 mr-bot-5">
                  {{languageData[langCode].COUNCIL_TOPICS}}</h4>
              </div>
              <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                <nz-input-group nzSearch [nzAddOnAfter]="searchIcon" class="search-box mr-top-5 mr-bot-5">
                  <input type="text" nz-input [placeholder]="languageData[langCode].SEARCH" [(ngModel)]="searchValueDeTai"
                    (keyup.enter)="onSearchDeTai()" />
                  <ng-template #searchIcon>
                    <button nz-button class="nz-btn-blue" nzSearch><i class="fas fa-search"></i></button>
                  </ng-template>
                </nz-input-group>
                <!-- <button nz-button type="button" class="toolbar-right-btn nz-btn-green mr-left-5 mr-top-5 mr-bot-5"
                  (click)="modalCreate(false, formHoiDong, 800)">
                  <i class="fas fa-plus mr-right-5"></i> {{languageData[langCode].ADD_NEW}}</button> -->
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body bord-top">
          <nz-table class="table-margin-bot" #table2 nzSize="small" nzBordered [nzData]="listDeTai.data"
            [nzLoading]="loadingTable" [nzScroll]="{ x: '600px' }" nzShowPagination="false">
            <thead>
              <tr>
                <th nzAlign="center" nzWidth="75px"><b>{{languageData[langCode].ORDINAL_NUMBERS}}</b></th>
                <th nzAlign="center" nzWidth="150px"><b>{{languageData[langCode].TOPIC_NAME}}</b></th>
                <th nzAlign="center" nzWidth="150px"><b>{{languageData[langCode].COUNCIL_NAME}}</b></th>
                <th nzAlign="center" nzWidth="75px"><b>{{languageData[langCode].COUNCIL_MENBERS}}</b></th>
                <th nzAlign="center" nzWidth="75px"><b>{{languageData[langCode].STATUS_SUGGESTED_COUNCIL_MEMBERS}}</b></th>
                <th nzAlign="center" nzWidth="75px"><i class="fas fa-cog"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of listDeTai.data; index as i">
                <td nzAlign="center">{{ (i+(listDeTai.currentPage-1)*listDeTai.limit+1) }}</td>
                <td nzAlign="left">{{ langCode === 'vi' ? data.tenDeTai : data.tenDeTaiEn }}</td>
                <td nzAlign="left">{{ 'getHoiDongByIdDeTai' }}</td>
                <td nzAlign="center">{{ 'getHoiDongByIdDeTai' }}</td>
                <td nzAlign="center">
                  <button nz-button type="button" nzType="primary" (click)="viewDanhSachThanhVienHoiDong(formXemThanhVienHoiDong, [])">{{languageData[langCode].VIEW}}</button>
                </td>
                <td nzAlign="center">
                  <!-- <nz-tag *ngIf="!data.trangThai" [nzColor]="'#ff4d4f'">{{languageData[langCode].DEACTIVE}}</nz-tag>
                  <nz-tag *ngIf="data.trangThai" [nzColor]="'#5cb85c'">{{languageData[langCode].ACTIVE}}</nz-tag> -->
                </td>
                <td nzAlign="center">
                  <nz-tag nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomCenter" class="pointer"><i
                      class="fas fa-ellipsis-h"></i></nz-tag>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                      <li nz-menu-item (click)="modalEditHoiDongTheoDeTai(formHoiDong, data, 800)">
                        <i class="fas fa-edit mr-right-5"></i>
                        <span>{{languageData[langCode].EDIT}}</span>
                      </li>
                      <li nz-menu-item (click)="modalDelete(data.id)">
                        <i class="fas fa-trash mr-right-5"></i>
                        <span>{{languageData[langCode].DELETE}}</span>
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <table-paginate [pageConfig]="listHoiDong" (pageChange)="pageChanged($event)"></table-paginate>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>
</div>

<ng-template #formHoiDong>
  <app-form-hd-nghiem-thu [isGeneratingCouncil]="isGeneratingCouncil" [idHoiDongEditTheoDeTai]="idHoiDongEditTheoDetai" [modalData]="modalData" (returnData)="closeModal($event)"></app-form-hd-nghiem-thu>
</ng-template>
<ng-template #formXemThanhVienHoiDong>
  <app-view-thanh-vien-hoi-dong [listThanhVien]="listThanhVienHoiDongView"></app-view-thanh-vien-hoi-dong>
</ng-template>
