<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">

  <!-- <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>{{languageData[langCode].ACCEPTANCE_STARGE}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('dotNghiemThu')">
      <nz-select formControlName="dotNghiemThu" [nzPlaceHolder]="languageData[langCode].SELECT + languageData[langCode].ACCEPTANCE_STARGE" nzAllowClear="false">
        <nz-option
          *ngFor="let item of [1, 2]"
          [nzLabel]="languageData[langCode].ACCEPTANCE_STARGE + ' ' + item"
          [nzValue]="item">
        </nz-option>
      </nz-select>
      <app-field-error-display [displayError]="isFieldValid('dotNghiemThu')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div> -->

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>{{languageData[langCode].PROGRESS_TIMELINE}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('thoiGianQuyTrinhId')">
      <nz-select [nzAllowClear]="false" class="placeholder-text-align"
        [nzPlaceHolder]="languageData[langCode].SELECT_PROGRESS_TIMELINE" formControlName="thoiGianQuyTrinhId"
        (ngModelChange)="changeProgeressTimeLine(form.get('thoiGianQuyTrinhId').value)"
        (nzFocus)="getAllThoiGianQuyTrinh()">
        <nz-option *ngFor="let thoigian of listThoiGianQuyTrinh" [nzLabel]="thoigian.namHoc" [nzValue]="thoigian.id">
        </nz-option>
      </nz-select>
      <app-field-error-display [displayError]="isFieldValid('thoiGianQuyTrinhId')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <!-- Create Generate -->
  <div nz-row class="pad-bot-form" *ngIf="isGeneratingCouncil">
    <div nz-col>
      <label><b>{{languageData[langCode].COUNCIL_TOPICS}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-col [ngClass]="displayFieldCss('deTaiIds')">
      <nz-select formControlName="deTaiIds"
        [nzPlaceHolder]="languageData[langCode].SELECT + languageData[langCode].TOPICS" nzAllowClear="true"
        nzServerSearch (nzOnSearch)="searchValueTextChanged.next($any($event))" nzMode="multiple">
        <nz-option *ngFor="let detai of listDeTaiByChuNhiem.data" [nzLabel]="detai.maSo + ' - ' + detai.tenDeTai"
          [nzValue]="detai.id">
        </nz-option>
      </nz-select>
      <app-field-error-display [displayError]="isFieldValid('deTaiIds')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <!-- Create one -->
  <div nz-row class="pad-bot-form" *ngIf="!isGeneratingCouncil">
    <div nz-col>
      <label><b>{{languageData[langCode].COUNCIL_TOPICS}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-col [ngClass]="displayFieldCss('deTaiIds')">
      <nz-select formControlName="deTaiIds"
        [nzPlaceHolder]="languageData[langCode].SELECT + languageData[langCode].TOPIC" nzAllowClear="true"
        nzServerSearch (nzOnSearch)="searchValueTextChanged.next($any($event))">
        <nz-option *ngFor="let detai of listDeTaiByChuNhiem.data" [nzLabel]="detai.maSo + ' - ' + detai.tenDeTai"
          [nzValue]="detai.id">
        </nz-option>
      </nz-select>
      <app-field-error-display [displayError]="isFieldValid('deTaiIds')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <!-- <div nz-row class="pad-bot-form" *ngIf="!isGeneratingCouncil">
    <div nz-row>
      <label><b>{{languageData[langCode].TOPICS}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('danhSachDeTai')">
      <nz-select formControlName="danhSachDeTai" [nzPlaceHolder]="languageData[langCode].SELECT + languageData[langCode].TOPICS" nzAllowClear="true" (nzOnSearch)="onSearchDeTaiSelect($event)" nzShowSearch>
        <nz-option
          *ngFor="let item of listDetaiSelect"
          [nzLabel]="langCode === 'vi' ? item.tenDeTai : item.tenDeTaiEn"
          [nzValue]="item.id">
        </nz-option>
      </nz-select>
      <app-field-error-display [displayError]="isFieldValid('danhSachDeTai')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div> -->

  <!-- <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>{{languageData[langCode].COUNCIL_NAME}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('tenHoiDong')">
      <input nz-input formControlName="tenHoiDong">
      <app-field-error-display [displayError]="isFieldValid('tenHoiDong')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>{{languageData[langCode].COUNCIL_CERT_NUM}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('soQuyetDinhThanhLap')">
      <input nz-input formControlName="soQuyetDinhThanhLap">
      <app-field-error-display [displayError]="isFieldValid('soQuyetDinhThanhLap')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div> -->

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>{{languageData[langCode].COUNCIL_MENBERS}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-col nzSpan="24">
      <nz-input-group nzSearch [nzAddOnAfter]="searchIcon" class="mr-bot-10">
        <nz-select nzShowSearch nzServerSearch nzAllowClear [nzPlaceHolder]="languageData[langCode].SELECT_PERSON"
          [(ngModel)]="searchNhanVienValue" (keyup.enter)="searchValueNhanVien.next($any($event).target.value)"
          (keyup)="searchValueNhanVien.next($any($event).target.value)" [ngModelOptions]="{standalone: true}"
          (nzFocus)="searchNhanVien('')">
          <nz-option *ngFor="let nhanVien of listNhanVienSearch"
            [nzLabel]="nhanVien.hoTenDem + ' ' + nhanVien.ten + ' - ' + nhanVien.email" [nzValue]="nhanVien.email">
          </nz-option>
        </nz-select>
        <ng-template #searchIcon>
          <button nz-button nzType="primary" nzSearch
            (click)="getNhanVienByEmail(searchNhanVienValue)">{{languageData[langCode].ENTER}}</button>
        </ng-template>
      </nz-input-group>
    </div>

    <div nz-row>
      <div nz-col>
        <nz-table #editRowTable [nzPageSize]="500" [nzShowPagination]="false" [nzData]="listThanhVienTemp"
          [nzScroll]="{ x: '1600px'}" nzSize="small" nzBordered class="mini-table-phu-luc-kinh-phi">
          <thead>
            <tr>
              <th nzWidth="75px" nzAlign="center">{{languageData[langCode].ORDINAL_NUMBERS}}</th>
              <th nzWidth="200px" nzAlign="center">{{languageData[langCode].POSITION_IN_COUNCIL}}</th>
              <th nzWidth="200px" nzAlign="center">{{languageData[langCode].FULLNAME}}</th>
              <th nzWidth="175px" nzAlign="center">{{languageData[langCode].ACADEMIC_RANK}}</th>
              <th nzWidth="175px" nzAlign="center">{{languageData[langCode].DEGREE}}</th>
              <th nzWidth="200px" nzAlign="center">{{languageData[langCode].RESEARCH_DOMAIN_SUGGEST}}</th>
              <th nzWidth="175px" nzAlign="center">{{languageData[langCode].WORKING_ORGANIZATION}}</th>
              <th nzWidth="175px" nzAlign="center">Email</th>
              <th nzWidth="150px" nzAlign="center">{{languageData[langCode].PHONE_NUM}}</th>
              <th nzWidth="75px" nzAlign="center"><i class="fas fa-cog"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of listThanhVienTemp; let i = index">
              <ng-container *ngIf="!data?.isEdit; else editTemplate">
                <td nzAlign="center">{{ i+1 }}</td>
                <td nzAlign="center">{{ getNameOfChucVu(data?.nhiemVuHoiDong) }}</td>
                <td nzAlign="center">{{ data.hoTen }}</td>
                <td nzAlign="center">{{ data.hocHam }}</td>
                <td nzAlign="center">{{ data.hocVi }}</td>
                <td nzAlign="center">{{ data.chuyenMon }}</td>
                <td nzAlign="center">{{ data.donViCongTac }}</td>
                <td nzAlign="center" class="text-email">{{ data.email }}</td>
                <td nzAlign="center">{{ data.soDienThoai }}</td>
                <td nzAlign="center">
                  <a class="mr-right-5" (click)="startEdit(data.email)"><i class="fas fa-edit"></i></a>
                  <a nz-popconfirm [nzPopconfirmTitle]="languageData[langCode].CONFIRM_DELETE"
                    nzPopconfirmPlacement="topRight" [nzCancelText]="languageData[langCode].NO"
                    [nzOkText]="languageData[langCode].YES"
                    (nzOnConfirm)="deleteCell(data.email, data.nhiemVuHoiDong)"><i class="fas fa-trash-alt"></i></a>
                </td>
              </ng-container>
              <ng-template #editTemplate>
                <td nzAlign="center"></td>
                <td nzAlign="center">
                  <nz-select class="w-100" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.nhiemVuHoiDong"
                    [nzAllowClear]="false" [nzPlaceHolder]="languageData[langCode].PLEASE_SELECT"
                    (ngModelChange)="ngModelChangePossition($event, i)">
                    <ng-container *ngIf="data.nhiemVuHoiDong === ''; else havePossition">
                      <ng-container *ngFor="let chucVu of listChucVuHoiDongTemp">
                        <nz-option *ngIf="!chucVu.status" [nzValue]="chucVu.id" [nzLabel]="chucVu.title"></nz-option>
                      </ng-container>
                    </ng-container>
                    <ng-template #havePossition>
                      <nz-option *ngFor="let chucVu of listChucVuHoiDongTemp" [nzValue]="chucVu.id"
                        [nzLabel]="chucVu.title"></nz-option>
                    </ng-template>
                  </nz-select>
                </td>
                <td nzAlign="center">
                  <input nz-input readonly [value]='data.hoTen'>
                </td>
                <!-- <td nzAlign="center" *ngIf="data.hocHam !== ''">
                <input readonly nz-input [value]="data.hocHam">
              </td> -->
                <td nzAlign="center">
                  <nz-select class="w-100" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.hocHamId"
                    [nzAllowClear]="false" [nzPlaceHolder]="languageData[langCode].PLEASE_SELECT"
                    (ngModelChange)="ngModelChangeHocHam($event, i)">
                    <nz-option *ngFor="let hocHam of listHocHam"
                      [nzLabel]="langCode === 'vi' ? hocHam.tenHocHam : hocHam.tenHocHamEn" [nzValue]="hocHam.id">
                    </nz-option>
                  </nz-select>
                </td>
                <!-- <td nzAlign="center" *ngIf="data.hocVi !== ''">
                <input readonly nz-input [value]="data.hocVi">
              </td> -->
                <td nzAlign="center">
                  <nz-select class="w-100" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.hocViId"
                    [nzAllowClear]="false" [nzPlaceHolder]="languageData[langCode].PLEASE_SELECT"
                    (ngModelChange)="ngModelChangeHocVi($event, i)">
                    <nz-option *ngFor="let hocVi of listHocVi" [nzValue]="hocVi.id"
                      [nzLabel]="langCode === 'vi' ? hocVi.tenHocVi : hocVi.tenHocViEn"></nz-option>
                  </nz-select>
                </td>
                <td nzAlign="center">
                  <input nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="data.chuyenMon"
                    (keydown.enter)="$event.preventDefault()">
                </td>
                <td nzAlign="center">
                  <input nz-input readonly [ngModelOptions]="{standalone: true}" [(ngModel)]="data.donViCongTac"
                    (keydown.enter)="$event.preventDefault()">
                </td>
                <td nzAlign="center">
                  <input nz-input readonly [ngModelOptions]="{standalone: true}" [(ngModel)]="data.email"
                    (keydown.enter)="$event.preventDefault()">
                </td>
                <td nzAlign="center">
                  <input nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="data.soDienThoai"
                    (keydown.enter)="$event.preventDefault()">
                </td>
                <td nzAlign="center">
                  <a (click)="saveEdit(data.email, data.nhiemVuHoiDong)" class="save mr-right-5"><i
                      class="fas fa-check-circle"></i></a>
                  <a nz-popconfirm [nzPopconfirmTitle]="languageData[langCode].CONFIRM_CANCEL"
                    nzPopconfirmPlacement="topRight" [nzCancelText]="languageData[langCode].NO"
                    [nzOkText]="languageData[langCode].YES" (nzOnConfirm)="cancelEdit(data.email)"><i
                      class="fas fa-times-circle"></i></a>
                </td>
              </ng-template>
            </tr>
          </tbody>
        </nz-table>
        <app-field-error-display [displayError]="isFormTouched && !listThanhVien.length"
          [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
        </app-field-error-display>
      </div>
    </div>
  </div>

  <div nz-row class="ant-modal-footer fk-modal-footer">
    <div nz-col nzSpan="24" class="ali-right">
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzSize="default" class="nz-btn-red" type="button" (click)="onCancel()"><i
            class="fas fa-times mr-right-5"></i>{{languageData[langCode].CANCEL}}</button>
      </div>
      <!-- [disabled]="!!editingId" -->
      <div class="pad-left-form-control" style="display: inline-block;">
        <button *ngIf="listThanhVienTemp.length === 2 && !checkEdit() && !checkNull()" nz-button nzType="default" class="nz-btn-blue" nzSize="default"
          type="submit" (click)="onSubmit()"><i class="fas fa-save mr-right-5"></i>{{languageData[langCode].SAVE}}
        </button>
        <div nz-tooltip [nzTooltipTitle]="returnMessageWarning()">
          <button *ngIf="listThanhVienTemp.length < 2 || checkEdit() || checkNull()" disabled nz-button nzType="default" nzSize="default" type="submit"><i
              class="fas fa-save mr-right-5"></i>{{languageData[langCode].SAVE}}
          </button>
        </div>


      </div>
    </div>
  </div>
</form>
