<app-breadcrumb [breadcrumb]="breadcrumbObj"></app-breadcrumb>
<div class="inner-content">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="row">
          <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left">
            <h4 class="text-semibold font-vi text-uppercase title-h4 text-left mr-top-5 mr-bot-5">
              {{breadcrumbObj.heading}}</h4>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
            <nz-input-group *ngIf="!edittingOrder" nzSearch [nzAddOnAfter]="searchIcon" class="search-box mr-top-5 mr-bot-5">
              <input type="text" nz-input [placeholder]="languageData[langCode].SEARCH" [(ngModel)]="searchValue"
                (keyup.enter)="onSearch()" />
              <ng-template #searchIcon>
                <button nz-button class="nz-btn-blue" nzSearch><i class="fas fa-search"></i></button>
              </ng-template>
            </nz-input-group>
            <span *ngIf="edittingOrder">
              {{languageData[langCode].RE_ORDER_TIP}}
            </span>
            <!-- not edit order -->
            <button nz-button type="button" class="toolbar-right-btn nz-btn-green mr-left-5 mr-top-5 mr-bot-5"
              (click)="modalCreate(formBanner, 800)" *ngIf="!edittingOrder">
              <i class="fas fa-plus mr-right-5"></i> {{languageData[langCode].ADD_NEW}}</button>
            <button nz-button type="button" class="toolbar-right-btn nz-btn-blue mr-left-5 mr-top-5 mr-bot-5"
              (click)="editOrder()" *ngIf="!edittingOrder">
              <i class="fas fa-retweet mr-right-5"></i> {{languageData[langCode].EDIT_ORDER}}</button>
            <!-- Edit order -->
            <button nz-button type="button" class="toolbar-right-btn nz-btn-red mr-left-5 mr-top-5 mr-bot-5"
              (click)="onCancelOrder()" *ngIf="edittingOrder">
              <i class="fas fa-times mr-right-5"></i> {{languageData[langCode].CANCEL}}</button>
            <button nz-button type="button" class="toolbar-right-btn nz-btn-green mr-left-5 mr-top-5 mr-bot-5"
              (click)="onSaveOrder()" *ngIf="edittingOrder">
              <i class="fas fa-save mr-right-5"></i> {{languageData[langCode].SAVE}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body bord-top">
      <!-- Table view -->
      <nz-table *ngIf="!edittingOrder" class="table-margin-bot" #table1 nzSize="small" nzBordered [nzData]="listBanner.data"
        [nzLoading]="loadingTable" [nzScroll]="{ x: '900px' }" nzShowPagination="false">
        <thead>
          <tr>
            <th nzAlign="center" nzWidth="75px"><b>{{languageData[langCode].ORDINAL_NUMBERS}}</b></th>
            <th nzAlign="center" nzWidth="150px"><b>{{languageData[langCode].PIC_TITLE}}</b></th>
            <th nzAlign="center" nzWidth="100px"><b>{{languageData[langCode].STATUS}}</b></th>
            <th nzAlign="center" nzWidth="500px"><b>{{languageData[langCode].PIC_PREVIEW}}</b></th>
            <th nzAlign="center" nzWidth="75px"><i class="fas fa-cog"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listBanner.data; let i = index">
            <td nzAlign="center">{{(i+(listBanner.currentPage-1)*listBanner.limit+1)}}</td>
            <td nzAlign="left">{{ data.tieuDe }}</td>
            <td nzAlign="center">
              <nz-tag *ngIf="!data.trangThai" [nzColor]="'#ff4d4f'">{{languageData[langCode].DEACTIVE}}</nz-tag>
              <nz-tag *ngIf="data.trangThai" [nzColor]="'#5cb85c'">{{languageData[langCode].ACTIVE}}</nz-tag>
            </td>
            <td nzAlign="center">
              <img [attr.src]="getViewLink(data.fileBanner)" onerror="this.src='assets/img/bg/default-banner.jpg'"
                width="500px">
            </td>
            <td nzAlign="center">
              <nz-tag nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomCenter" class="pointer"><i
                  class="fas fa-ellipsis-h"></i></nz-tag>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item (click)="modalEdit(formBanner, data, 800)">
                    <i class="fas fa-sync-alt mr-right-10"></i>
                    <span>{{languageData[langCode].REPLACE}}</span>
                  </li>
                  <li nz-menu-item (click)="modalDelete(data.id)">
                    <i class="fas fa-exchange-alt mr-right-10"></i>
                    <span>{{languageData[langCode].CHANGE_STATUS}}</span>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <table-paginate *ngIf="!edittingOrder" [pageConfig]="listBanner" (pageChange)="pageChanged($any($event))"></table-paginate>

      <!-- Table for edit order -->
      <nz-table *ngIf="edittingOrder" class="table-margin-bot" #table1 nzSize="small" nzBordered [nzData]="listBanner.data"
        [nzLoading]="loadingTable" [nzScroll]="{ x: '350px' }" nzShowPagination="false">
        <thead>
          <tr>
            <th nzAlign="center" nzWidth="100px"><b>{{languageData[langCode].ORDINAL_NUMBERS}} ({{languageData[langCode].OLD_TO_NEW}})</b></th>
            <th nzAlign="center" nzWidth="150px"><b>{{languageData[langCode].PIC_TITLE}}</b></th>
            <th nzAlign="center" nzWidth="100px"><b>{{languageData[langCode].STATUS}}</b></th>
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="drangDropChangeOrder($event, listBanner.data)">
          <tr cdkDrag style="cursor: pointer;" *ngFor="let data of listBanner.data; let i = index">
            <td nzAlign="center" [ngClass]="data.thuTu === (i+(listBanner.currentPage-1)*listBanner.limit+1).toString() ? '' : 'text-blue'">
              {{data.thuTu}}
              <i class="fas fa-long-arrow-alt-right mr-left-5 mr-right-5"></i>
              {{(i+(listBanner.currentPage-1)*listBanner.limit+1)}}
            </td>
            <td nzAlign="left">{{ data.tieuDe }}</td>
            <td nzAlign="center">
              <nz-tag *ngIf="!data.trangThai" [nzColor]="'#ff4d4f'">{{languageData[langCode].DEACTIVE}}</nz-tag>
              <nz-tag *ngIf="data.trangThai" [nzColor]="'#5cb85c'">{{languageData[langCode].ACTIVE}}</nz-tag>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<ng-template #formBanner>
  <app-form-banner [modalData]="modalData" [thuTu]="(listBanner.totalItem + 1).toString()" (returnData)="closeModal($any($event))"></app-form-banner>
</ng-template>
