<div class="inner-content">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="row">
          <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left">
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
            <nz-input-group nzSearch [nzAddOnAfter]="searchIcon" class="search-box mr-top-5 mr-bot-5">
              <input type="text" nz-input [placeholder]="languageData[langCode].SEARCH" [(ngModel)]="searchValue"
                (keyup.enter)="onSearch()" />
              <ng-template #searchIcon>
                <button nz-button class="nz-btn-blue" nzSearch><i class="fas fa-search"></i></button>
              </ng-template>
            </nz-input-group>
            <!-- <button nz-button type="button" class="toolbar-right-btn nz-btn-green mr-left-5 mr-top-5 mr-bot-5"
              (click)="modalCreate(formXemChiTietDeTai, 800)">
              <i class="fas fa-plus mr-right-5"></i> {{languageData[langCode].ADD_NEW}}</button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body bord-top">
      <nz-table class="table-margin-bot" #table1 nzSize="small" nzBordered [nzData]="listDeTaiXinHuy.data"
        [nzLoading]="loadingTable" [nzScroll]="{ x: '650px' }" nzShowPagination="false">
        <thead>
          <tr>
            <th nzAlign="center" nzWidth="75px"><b>{{languageData[langCode].ORDINAL_NUMBERS}}</b></th>
            <th nzAlign="center" nzWidth="125px"><b>{{languageData[langCode].TOPIC_CODE}}</b></th>
            <th nzAlign="center" nzWidth="150px"><b>{{languageData[langCode].TOPIC_NAME}}</b></th>
            <th nzAlign="center" nzWidth="125px"><b>{{languageData[langCode].TOPIC_AUTHOR}}</b></th>
            <th nzAlign="center" nzWidth="100px"><b>{{languageData[langCode].STATUS}}</b></th>
            <th nzAlign="center" nzWidth="75px"><i class="fas fa-cog"></i></th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let data of listDeTaiXinHuy.data; index as i">

            <td nzAlign="center">{{ (i+(listDeTaiXinHuy.currentPage-1)*listDeTaiXinHuy.limit+1) }}</td>
            <td nzAlign="left">{{ data.thuyetMinhDeTai.maSoTheoDeTai }}</td>
            <td nzAlign="center">{{ data.chiTietDeTai.tenDeTai }}</td>
            <td nzAlign="center">{{ data.thuyetMinhDeTai.chuNhiemDeTai.nhanVien.hoTen }}</td> -->

          <tr>
            <td nzAlign="center"> 1</td>
            <td nzAlign="left"> 0001</td>
            <td nzAlign="center">Test Đề tài</td>
            <td nzAlign="center">Nguyễn Văn A</td>

            <td nzAlign="center">
              <!-- <nz-tag *ngIf="!data.trangThaiDeTai" [nzColor]="'#ff4d4f'">{{languageData[langCode].DEACTIVE}}</nz-tag> -->
              <!-- <nz-tag [nzColor]="'#5cb85c'">{{data.trangThaiDeTai}}</nz-tag> -->
            </td>
            <td nzAlign="center">
              <nz-tag nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomCenter" class="pointer"><i
                  class="fas fa-ellipsis-h"></i></nz-tag>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <!-- phần này để tạm xem view -->
                  <li nz-menu-item (click)="modalView(formDeTaiXinHuy, data, 1000)">
                    <i class="fas fa-edit mr-right-5"></i>
                    <span>Xem chi tiết</span>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <table-paginate [pageConfig]="listDeTaiXinHuy" (pageChange)="pageChanged($event)"></table-paginate>
    </div>
  </div>
</div>

<ng-template #formDeTaiXinHuy>
  <app-form-xem-de-nghi-huy [modalData]="modalData" (modalReturn)="closeModal($event)">
  </app-form-xem-de-nghi-huy>
</ng-template>
