<div class="inner-content">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="row">
          <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left">
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
          </div>
        </div>
      </div>
    </div>
    <div>
      <nz-table class="table-border table-cell-middle table-margin-bot" #table1 nzSize="small" nzBordered
        [nzData]="listDonXinHuy.data" [nzScroll]="{ x: '700px' }" nzShowPagination="false">
        <thead>
          <tr>
            <th nzAlign="center" nzWidth="50px"><b>{{languageData[langCode].ORDINAL_NUMBERS}}</b></th>
            <th nzAlign="center" nzWidth="300px"><b>{{languageData[langCode].REASON_CANCEL_TOPIC}}</b></th>
            <th nzAlign="center" nzWidth="100px"><b>{{languageData[langCode].AMOUNT_OF_ADVANCE}}</b></th>
            <th nzAlign="center" nzWidth="100px"><b>{{languageData[langCode].ADVANCE_TIME}}</b></th>
            <th nzAlign="center" nzWidth="100px"><b>{{languageData[langCode].TIME_OF_APPLICATION_FOR_CANCELLATION}}</b></th>
            <th *ngIf="showViewAndApprove" nzAlign="center" nzWidth="50px"><i class="fas fa-cog"></i></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of listDonXinHuy.data; index as i">
            <tr>
              <td nzAlign="center">
                {{ (i+(listDonXinHuy.currentPage-1)*listDonXinHuy.limit+1) }}
              </td>
              <td nzAlign="left">
                <div [innerHTML]="data.lyDo"></div>
              </td>
              <td nzAlign="center">
                {{handleCurrency(data.soTienDaTamUng)}}
              </td>
              <td nzAlign="center">
                {{handleISOStringToDayMonthYear(data.thoiGianTamUng)}}
              </td>
              <td nzAlign="center">
                {{handleISOStringToDayMonthYear(data.thoiGianXinHuy)}}
              </td>
              <td *ngIf="showViewAndApprove && i === 0" nzAlign="center">
                <i nz-tooltip [nzTooltipTitle]="messageTooltipConstant[langCode].VIEW_AND_APPROVE" class="fas fa-eye pointer"
                (click)="modalViewAndApprove(formHuyDetaiShare, data, 800)"></i>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
<ng-template #formHuyDetaiShare>
  <app-form-huy-de-tai-share [checkAdmin]="checkAdmin" [modalDataDeTai]="modalDataDeTai" [modalData]="modalData" (returnData)="closeModal($any($event))"></app-form-huy-de-tai-share>
</ng-template>
