<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">
  <div class="sj-haslayout top-bgr">
    <div class="container welcome-container">
      <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 sj-verticalmiddle">
          <div class="banner-link-layer" [ngStyle]="autoResizeBanner"></div>
          <nz-carousel [nzEffect]="'scrollx'" nzAutoPlay [nzEnableSwipe]='false' [nzAutoPlaySpeed]="5000"
          [ngStyle]="autoResizeBanner">
            <div nz-carousel-content *ngFor="let index of [1,2,3,4]">
              <img src="assets/img/test_banner.png" class="w-100" #imgSlider
            onerror="this.src='assets/journey-theme/images/slider/fronimg.png'">
            </div>
          </nz-carousel>
        </div>
      </div>
    </div>
  </div>
  <div id="sj-twocolumns" class="sj-twocolumns">
    <div class="container">
      <div class="row">
        <!--************************************
            Left panel
        *************************************-->
        <div class="col-12 col-xs-12 col-sm-12 col-md-8 col-lg-9">
          <div id="sj-content" class="sj-content">
            <div class="sj-widgetcontent show-search-mobile">
              <nz-input-group nzSearch [nzAddOnAfter]="suffixSearchButtonMobile">
                <input type="text" nz-input class="search-input" [placeholder]="languageData[langCode].SEARCH"/>
              </nz-input-group>
              <ng-template #suffixSearchButtonMobile>
                <button nz-button nzType="primary" nzSize="large" type="button" nzSearch><i
                    class="fas fa-search"></i></button>
              </ng-template>
            </div>

            <section class="sj-haslayout sj-sectioninnerspace">
              <div class="sj-borderheading format-title">
                <span class="category-title">{{languageData[langCode].ANNOUNCEMENT}}</span>
                <a class="sj-btnview" href="../announcement">
                  <span>{{languageData[langCode].VIEW_MORE}}</span>
                  <i class="fas fa-chevron-circle-right mr-left-5 chevron"></i>
                </a>
              </div>
              <div class="sj-content">
                <div class="row">
                  <div class="split-item">
                    <app-post-tpl></app-post-tpl>
                    <app-post-tpl></app-post-tpl>
                    <app-post-tpl></app-post-tpl>
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>
        <!--************************************
              Left panel End
          *************************************-->


        <!--************************************
            Right panel
        *************************************-->
        <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <aside id="sj-sidebar" class="sj-sidebar">
            <div class="sj-widget hide-search-pc">
              <div class="sj-widgetcontent">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixSearchButton">
                  <input type="text" nz-input class="search-input" [placeholder]="languageData[langCode].SEARCH"
                    [(ngModel)]="valueSearch" />
                </nz-input-group>
                <ng-template #suffixSearchButton>
                  <button nz-button nzType="primary" nzSize="large" type="button" nzSearch>
                    <i class="fas fa-search"></i></button>
                </ng-template>
              </div>
            </div>

            <!-- Thông báo  -->
            <div class="sj-widget box-right-clm">
              <div class="sj-borderheading format-title">
                <b><u class="title-category">{{languageData[langCode].CATEGORIES}}</u></b>
              </div>
              <div class="sj-content">
                <div class="category-item">
                  <i class="fas fa-angle-right mr-right-5"></i>Thông báo
                </div>
                <div class="category-item">
                  <i class="fas fa-angle-right mr-right-5"></i>Tin tức
                </div>
                <div class="category-item">
                  <i class="fas fa-angle-right mr-right-5"></i>Văn bản - biểu mẫu
                </div>
                <div class="category-item">
                  <i class="fas fa-angle-right mr-right-5"></i>Giới thiệu
                </div>
                <div class="category-item">
                  <i class="fas fa-angle-right mr-right-5"></i>Liên hệ
                </div>
              </div>
            </div>
          </aside>

        </div>
        <!--************************************
            Right panel End
        *************************************-->
      </div>

      <!--************************************
            Block 3
        *************************************-->

      <!-- Bài viết mới nhất -->
      <div class="sj-main sj-haslayout sj-sectionspace">
        <div class="sj-borderheading format-title">
          <span class="category-title">{{languageData[langCode].NEWEST_RESEACH}}CCCCC</span>
          <a class="sj-btnview" href="javascript:void(0);" href="../shelf">
            <span>{{languageData[langCode].VIEW_MORE}}</span>
            <i class="fas fa-chevron-circle-right mr-left-5 chevron"></i>
          </a>
        </div>
        <div class="sj-content">
          <app-post-tpl-wide></app-post-tpl-wide>
          <app-post-tpl-wide></app-post-tpl-wide>
          <app-post-tpl-wide></app-post-tpl-wide>
        </div>

      </div>
      <!--************************************
            Block 3 end
        *************************************-->

      <!--************************************
            Block 4
        *************************************-->
      <div class="sj-main sj-haslayout sj-sectionspace">
        <div class="sj-borderheading format-title" [routerLink]="'/blog'">
          <span class="category-title">{{languageData[langCode].BLOG}}BBBBB</span>
          <a class="sj-btnview" href="javascript:void(0);">
            <span>{{languageData[langCode].VIEW_MORE}}</span>
            <i class="fas fa-chevron-circle-right mr-left-5 chevron"></i>
          </a>
        </div>
        <div class="sj-content">
          <app-post-tpl-wide></app-post-tpl-wide>
          <app-post-tpl-wide></app-post-tpl-wide>
          <app-post-tpl-wide></app-post-tpl-wide>
        </div>

      </div>
      <!--************************************
            Block 4 end
        *************************************-->

    </div>
  </div>
</main>
