<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>{{languageData[langCode].TOTAL_SCORE}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('tongDiem')">
      <input nz-input formControlName="tongDiem">
      <app-field-error-display [displayError]="isFieldValid('tongDiem')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b> {{languageData[langCode].TOTAL_BOARD_SCORE}} </b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('tongDiemHopLe')">
      <input nz-input formControlName="tongDiemHopLe">
      <app-field-error-display [displayError]="isFieldValid('tongDiemHopLe')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b> {{languageData[langCode].CONCLUDE}} </b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('ketLuan')">
      <input nz-input formControlName="ketLuan">
      <app-field-error-display [displayError]="isFieldValid('ketLuan')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b> {{languageData[langCode].EXPLANATION_EDITING}} </b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('xepLoai')">
      <input nz-input formControlName="xepLoai">
      <app-field-error-display [displayError]="isFieldValid('xepLoai')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <ng-template #xuatfile>
      <span>List file</span>
    </ng-template>
    <div class="row">
      <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p><b>{{languageData[langCode].ATTACHMENTS}}: </b>
          <nz-tag nz-dropdown [nzDropdownMenu]="fileDinhKemMenu" nzColor="geekblue" GetFileInfoById
            (infoFile)="storeFileInfo( $event)">
            <i class="fas fa-paperclip mr-r-5px"></i>
          </nz-tag>
          <nz-dropdown-menu #fileDinhKemMenu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="openModalViewFile(viewFile)"><i
                  class="far fa-eye mr-r-5px"></i>{{languageData[langCode].VIEW}}</li>
              <li nz-menu-item (click)="downloadFile()"><i
                  class="fas fa-download mr-r-5px"></i>{{languageData[langCode].DOWNLOAD}}</li>
            </ul>
          </nz-dropdown-menu>
        </p>
      </div>
    </div>
  </div>

</form>
<ng-template #viewFile>
  <app-view-file [fileId]="fileViewId" (hideIframe)="hideModalViewFile()"></app-view-file>
</ng-template>
