<div class="inner-content">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="row">
          <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left">
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
            <button
              nz-button type="button" class="toolbar-right-btn nz-btn-green mr-left-5 mr-top-5 mr-bot-5"
              *ngIf="checkRole"
              (click)="clickUploadFileBoSungThuyetMinh()">
              <i class="fas fa-plus mr-right-5"></i>{{languageData[langCode].ADD_NEW_PROOF}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body bord-top">
      <nz-table class="table-margin-bot" #table1 nzSize="small" nzBordered [nzData]="modalDataDeTai.data.fileBoSungThuyetMinhs"
        [nzScroll]="{ x: '550px' }" nzShowPagination="false">
        <thead>
          <tr>
            <th nzAlign="center" nzWidth="50px"><b>{{languageData[langCode].ORDINAL_NUMBERS}}</b></th>
            <th nzAlign="center" nzWidth="150px"><b></b></th>
            <th nzAlign="center" nzWidth="150px">{{ languageData[langCode].UPLOAD_TIME }}</th>
            <th nzAlign="center" nzWidth="100px"><i class="fas fa-cog"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let item of listBoSungThuyetMinh.reverse(); index as i">
            <td nzAlign="center">{{ i + 1 }}</td>
            <td nzAlign="left">{{ languageData[langCode].FILE_PROOF + ' ' + languageData[langCode].ADDITIONAL_EXPLANATION + ' '
              + (listBoSungThuyetMinh.length - i) }}</td>
            <td nzAlign="center">{{handleTime(item.fileInfo.ngayUpload)}}</td>
            <td nzAlign="center">
              <i nz-tooltip [nzTooltipTitle]="messageTooltipConstant[langCode].VIEW_FILE_PROOF"
                class="fas fa-eye pointer" (click)="modalView(viewBoSungThuyetMinh, item.idFile, 800)"></i>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<input #importBoSungThuyetMinhElementRef type="file" accept=".docx,.doc,.pdf,.png,.jpg,.jpeg"
  (change)="importBoSungThuyetMinh($any($event).target.files[0])" hidden>
<ng-template #viewBoSungThuyetMinh>
  <app-view-file [fileId]="fileId"></app-view-file>
</ng-template>
