<div class="file-upload-container">
  <div class="dropzone" fileDrop (filesDropped)="uploadFile($event)" [ngClass]="isDisable ? 'disable':''">
    <div class="file">
      <label class="file-label">
        <input class="file-input" type="file" [accept]="acceptFilesExtension"
          (change)="uploadFile($event.target.files)">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fa fa-upload"></i>
          </span>
          <span class="file-label-sub">{{languageData[langCode].UPLOAD}}</span>
        </span>
      </label>
    </div>
  </div>
  <div class="list-file" *ngIf="listFiles && listFiles.length > 0">
    <table class="table">
      <tbody>
        <tr *ngFor="let item of listFiles; let i = index">
          <td class="index" appGetFileInfoById [idFile]="item.id" (infoFile)="setFileName($event, item)">
            {{ i + 1 }}
          </td>
          <td>
            <div class="file-name">
              <i class="fas fa-paperclip mr-right-5"></i>
              <div class="linking">
                <a>
                  <small class="text">
                    {{ item.filename }}
                  </small>
                </a>
              </div>
            </div>
          </td>
          <td class="action" style="width: 15px;">
            <a (click)="onRemove(i)">
              <i class="fas fa-times delete"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
