<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>{{languageData[langCode].SELECTED_TYPE}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('loai')">
      <nz-select nzAllowClear="false" formControlName="loai">
        <nz-option *ngFor="let loai of loaiVanBanBieuMau" [nzLabel]="loai.title" [nzValue]="loai.id"></nz-option>
      </nz-select>
      <app-field-error-display [displayError]="isFieldValid('loai')" [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>{{languageData[langCode].TITLE_FORM_VN}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('tieuDe')">
      <input nz-input formControlName="tieuDe">
      <app-field-error-display [displayError]="isFieldValid('tieuDe')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>{{languageData[langCode].TITLE_FORM_EN}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('tieuDeEn')">
      <input nz-input formControlName="tieuDeEn">
      <app-field-error-display [displayError]="isFieldValid('tieuDeEn')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <!-- Phần này khi có upload-file sẽ đổi lại -->
  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>{{languageData[langCode].FILE_ATTACHED}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('fileDinhKem')">
      <div nz-col nzSpan="24" [ngClass]="displayFieldCss('fileDinhKem')">
        <app-file-upload class="w-100" [isUploadMultiFile]="false" [subFolderOnServer]="'Van-Ban-Bieu-Mau'"
          [listFilesPatch]="extractFileFromListId([form.get('fileDinhKem').value].flat())"
          (returnedListId)="setIdFileToForm($any($event), 'fileDinhKem', form)">
        </app-file-upload>
        <app-field-error-display [displayError]="isFieldValid('fileDinhKem')"
          [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
        </app-field-error-display>
      </div>
    </div>
  </div>


  <div nz-row class="ant-modal-footer fk-modal-footer">
    <div nz-col nzSpan="24" class="ali-right">
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="danger" nzSize="default" type="button" (click)="onCancel()"><i
            class="fas fa-times mr-right-5"></i>{{languageData[langCode].CANCEL}}</button>
      </div>
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="default" class="nz-btn-blue" nzSize="default" type="submit" (click)="onSubmit()"><i
            class="fas fa-save mr-right-5"></i>{{languageData[langCode].SAVE}}</button>
      </div>
    </div>
  </div>
</form>
