<div class="inner-content">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="row">
          <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left">
            <!-- <button nz-button type="button" class="toolbar-right-btn nz-btn-teal mr-top-5 mr-bot-5"
            (click)="clickUploadFileMinhChungBaoCaoTienDo()">
              <i class="fas fa-file-upload mr-right-5"></i>{{languageData[langCode].ADD_PROOF}}
            </button> -->
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">

          </div>
        </div>
      </div>
    </div>
    <div class="panel-body bord-top">
      <nz-table class="table-border table-cell-middle table-margin-bot" #table1 nzSize="small" nzBordered
        [nzData]="listBaoCaoTienDo.data" [nzScroll]="{ x: '400px' }" nzShowPagination="false">
        <thead>
          <tr>
            <th nzAlign="center" nzWidth="50px"><b>{{languageData[langCode].ORDINAL_NUMBERS}}</b></th>
            <th nzAlign="center" nzWidth="150px"><b>{{languageData[langCode].PROGRESS_REPORT}}</b></th>
            <th nzAlign="center" nzWidth="150px"><b>{{languageData[langCode].REPORT_TIME}}</b></th>
            <th nzAlign="center" nzWidth="50px"><i class="fas fa-cog"></i></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of listBaoCaoTienDo.data; index as i">
            <tr>
              <td nzAlign="center">
                {{ (i+(listBaoCaoTienDo.currentPage-1)*listBaoCaoTienDo.limit+1) }}</td>
              <td nzAlign="center">
                {{ languageData[langCode].PROGRESS_REPORT + ' ' + (listBaoCaoTienDo.data.length - (i)) }}</td>
              <td nzAlign="center">
                {{ handleISOStringToDayMonthYear(data.thoiGianBaoCaoTienDo) }}</td>
              <td nzAlign="center">
                  <i nz-tooltip [nzTooltipTitle]="messageTooltipConstant[langCode].VIEW_DETAIL"
                    class="mr-left-10 fas fa-eye pointer" (click)="modalEdit(formBaoCaoTienDoShare, data, 1000)"></i>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<ng-template #formBaoCaoTienDoShare>
  <app-form-bao-cao-tien-do-share [modalData]="modalData" [modalDataId]="modalDataId" (returnData)="closeModal($any($event))">
  </app-form-bao-cao-tien-do-share>
</ng-template>

