.white-space-status {
  white-space: normal !important;
}

.color-row-table-show {
  background-color: #f6f6f6;
}

.example-spin {
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
