<div class="row box-container">
  <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <!-- <img class="w-100 post-img" src="assets/img/bg/default-cover.jpg"> -->
    <img class="w-100 post-img" [src]="filePatch">
  </div>
  <div class="col-8 col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="post-title">{{postTitle}}</div>
    <div class="post-short-content hide-mobile"[innerHTML]="postShortContent"></div>
    <div class="post-footer">
      <span class="float-left">{{postFooter}}</span>
      <span class="float-right cta-read hide-mobile" [routerLink]="['/posts/'+ categoryId + '/', postId]"
      >{{langCode === 'vi' ? 'Xem thêm' : 'Read more'}}<i class="fas fa-angle-right mr-left-5"></i></span>
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 show-mobile">
    <div class="post-short-content"[innerHTML]="postShortContent"></div>
  </div>
</div>
<br>
