<!-- BỔ SUNG THUYẾT MINH ĐỀ TÀI KHOA HỌC VÀ CÔNG NGHỆ
CẤP TRƯỜNG TRỌNG ĐIỂM/DÀNH CHO GIẢNG VIÊN TRẺ/ DÀNH CHO NGHIÊN CỨU SINH, HỌC VIÊN CAO HỌC -->

<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>{{languageData[langCode].REASON_REFSING_CANCEL_TOPIC}}</b></label><label
        class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('noiDungTuChoi')">
      <textarea nz-input formControlName="noiDungTuChoi"></textarea>
      <app-field-error-display [displayError]="isFieldValid('noiDungTuChoi')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="ant-modal-footer fk-modal-footer">
    <div nz-col nzSpan="24" class="ali-right">
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="danger" nzSize="default" type="button" (click)="onCancel()"><i
            class="fas fa-times mr-right-5"></i>{{languageData[langCode].CANCEL}}</button>
      </div>
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="default" class="nz-btn-blue" nzSize="default" type="submit" (click)="onSubmit()"><i
            class="fas fa-save mr-right-5"></i>{{languageData[langCode].SAVE}}</button>
      </div>
    </div>
  </div>

</form>