<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>{{languageData[langCode].CATEGORY_CODE}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('maChuyenMuc')">
      <input nz-input formControlName="maChuyenMuc">
      <app-field-error-display [displayError]="isFieldValid('maChuyenMuc')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>{{languageData[langCode].CATEGORY_NAME_VN}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('tenChuyenMuc')">
      <input nz-input formControlName="tenChuyenMuc">
      <app-field-error-display [displayError]="isFieldValid('tenChuyenMuc')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-row>
      <label><b>{{languageData[langCode].CATEGORY_NAME_EN}}</b></label><label class="field-required">*</label>
    </div>
    <div nz-row [ngClass]="displayFieldCss('tenChuyenMucEn')">
      <input nz-input formControlName="tenChuyenMucEn">
      <app-field-error-display [displayError]="isFieldValid('tenChuyenMucEn')"
        [errorMsg]="languageData[langCode].CAN_NOT_BLANK">
      </app-field-error-display>
    </div>
  </div>


  <div nz-row class="ant-modal-footer fk-modal-footer">
    <div nz-col nzSpan="24" class="ali-right">
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="danger" nzSize="default" type="button" (click)="onCancel()"><i
            class="fas fa-times mr-right-5"></i>{{languageData[langCode].CANCEL}}</button>
      </div>
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="default" class="nz-btn-blue" nzSize="default" type="submit" (click)="onSubmit()"><i
            class="fas fa-save mr-right-5"></i>{{languageData[langCode].SAVE}}</button>
      </div>
    </div>
  </div>
</form>
