.hover-effect:hover {
  box-shadow: 2px 2px 5px 0px #929292 !important;
  transition: 0.3s;
}

.group-title {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Cabin';
}

.shortcut-btn {
  margin-right: 10px;
  margin-bottom: 10px;
  // text-transform: uppercase;
}

.shortcut-btn-title {
  font-size: 16px;
  font-family: 'Cabin';
}

.bord-top {
  margin: 20px;
}
