<app-breadcrumb [breadcrumb]="breadcrumbObj"></app-breadcrumb>
<div class="inner-content">
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="row">
          <div class="col-sm-6 toolbar-left">
            <h4 class="text-semibold font-vi text-uppercase title-h4">{{breadcrumbObj.heading}}</h4>
          </div>
          <div class="col-sm-6 toolbar-right">
            <!-- <button type="button" class="btn btn-success" (click)="openModal(template)">
              <i class="fas fa-plus"></i>
              <span>Thêm mới</span>
            </button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body bord-top">
      <div nz-row nzGutter="24">
        <div nz-row class="w-100">
          <h3 class="group-title">{{languageData[langCode].CATEGORY_SHORTCUTS}}</h3>
        </div>
        <div nz-row class="w-100">
          <button *ngFor="let item of danhMuc" class="shortcut-btn nz-btn-blue" nz-button nzType="default" type="button"
            nzSize="large" [routerLink]="item.routerLink"><span class="shortcut-btn-title"><i
                class="far fa-folder-open"></i> {{item.title}}</span></button>
        </div>
        <div nz-row class="w-100">
          <h3 class="group-title">{{languageData[langCode].SHORTCUTS_CONFIGURATION}}</h3>
        </div>
        <div nz-row class="w-100">
          <button *ngFor="let item of cauHinh" class="shortcut-btn nz-btn-blue" nz-button nzType="default" type="button"
            nzSize="large" [routerLink]="item.routerLink"><span class="shortcut-btn-title"><i class="fas fa-cog"></i>
              {{item.title}}</span></button>
        </div>
        <div nz-row class="w-100">
          <h3 class="group-title">{{languageData[langCode].SHORTCUTS_COUNCIL}}</h3>
        </div>
        <div nz-row class="w-100">
          <button *ngFor="let item of hoiDong" class="shortcut-btn nz-btn-blue" nz-button nzType="default" type="button"
            nzSize="large" [routerLink]="item.routerLink"><span class="shortcut-btn-title"><i
                class="fas fa-user-friends"></i> {{item.title}}</span></button>
        </div>
        <div nz-row class="w-100">
          <h3 class="group-title">{{languageData[langCode].SHORTCUTS_PROJECT}}</h3>
        </div>
        <div nz-row class="w-100">
          <button *ngFor="let item of deTai" class="shortcut-btn nz-btn-blue" nz-button nzType="default" type="button"
            nzSize="large" [routerLink]="item.routerLink"><span class="shortcut-btn-title"><i
                class="fas fa-user-friends"></i> {{item.title}}</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
